/**
 * Beschreibung: Allgemeine CSS Einstellungen
 * @author Ansprechpartner Fabian Meise
 *
 */

@font-face {
    font-family: "bitter";
    src: url("../fonts/Bitter-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "bitter";
    src: url("../fonts/Bitter-Regular.ttf");
    font-weight: bold;
}

body {
    background-color: rgb(250, 249, 246);
    color: rgb(75, 75, 75);
    display: none;
}

body *:not(.fa,
.headerbtn span) {
    font-family: "Segoe UI", Arial, sans-serif;
}

.pure-g [class*=pure-u] {
    font-family: "Segoe UI", Arial, sans-serif !important;
}

#searchfilter {
    padding-top: 10px;
    background-color: rgb(230, 226, 220);
}

#banner {
    /*background-color: rgba(255,255,255,0.5);*/
    padding-bottom: 25px;
    padding-top: 1.5%;
}

.pure-menu-item {
    display: inline;
    cursor: pointer;
}

header .pure-menu-link {
    color: rgb(75, 75, 75) !important;
    display: inline-block;
}

.searchbox form fieldset legend {
    text-align: center;
}

#search-container form *:not(.checkbox-colorbox) {
    border-radius: 0px !important;
}

.pure-button-primary {
    background-color: #4F6877 !important;
    color: #fff !important;
}

.deleteImageButton {
    margin-right: 1.7%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.boxedinput {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
}

#articlearea {
    background-color: rgb(240, 240, 240);
}

.second-headerbtn {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: rgb(75, 75, 75);
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    height: auto;
    min-width: 150px;
    font-size: 16px;
    font-family: "bitter" !important;
}

.second-headerbtn:hover {
    margin-top: -6px;
    border-top: 6px solid rgb(75, 75, 75);
}

.headerbtn {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: rgb(75, 75, 75);
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    height: 122px;
    min-width: 150px;
    padding: 23px 0px 0px 0px;
    font-size: 20px;
    font-family: "bitter" !important;
    font-weight: 500;
}

header {
    background-color: rgba(238, 236, 229,0.8);
    width: 100%;
    z-index: 999;
}

.fixed-header {
    position: fixed;
}

#headerdummy {
    display: none;
}

header .pure-menu-link {
    padding: 23px 0px 0px 0px !important;
    color: rgb(75, 75, 75) !important;
}


#searchbar {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

#searchbar *,
#filters * {
    height: 40px;
}

#filters {
    height: 40px;
    width: 930px;
}

#filtersfield {
    min-width: 930px;
}

#filterbtn-show {
    padding-bottom: 10px;
}

.headerbtn:hover,
.headerbtn:focus,
.headerbtn:focus {
    /*background-color: rgba(235, 232, 226,0.8) !important;*/
    border-bottom: 6px solid rgb(75, 75, 75);
}

header a {
    text-decoration: none;
}

#responsiveheader {
    display: none;
}

header div {
    vertical-align: middle !important;
}

header div .pure-u-3-5 {
    color: rgba(75, 75, 75, 1);
}

.headerwelcome {
    padding-right: 10px;
    margin-top: 8px;
}

.checkbox-colorbox {
    height: 20px;
    width: 20px;
    border-radius: 50% !important;
    background-color: #000;
    display: inline-block;
}

#aboutlink {
    display: table-cell;
    vertical-align: middle;
}

#advertisingstrip {
    background-color: rgb(78, 104, 118);
    color: #fff;
    margin: 0px;
    padding-top: 20px;
    height: 6vh;
    min-height: 140px;
}

.advertisingbanner {
    height: 70vh;
    background-color:#777;
}

#advertisinglogo {
    background-image: url(../Images/letitsnow.jpeg);
}

#advertisinglogo2 {
    background-image: url(../Images/christmas.jpeg);
    background-position: 0 50%;
}

.advertisinglogo {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    position: absolute;
}

.advertisinglogo .middle {
    display: table-cell;
    vertical-align: middle;
}

.advertisinglogo .inner {
    margin-left: auto;
    margin-right: auto;
    width: 920px;
    text-align: center;
    color: #fff;
}

.advertisinglogo .inner h1 {
    font-weight: 800;
    font-size: 3.5em;
}

#bestseller {
    background-color: #777;
    color: #fff;
    padding-bottom: 15px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 36px;
    min-height: 70vh;
}

#bestseller h1 {
    font-weight: 800;
    font-size: 3.5em;
    padding-bottom: 25px;
}

#bestseller .productCard {
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding-top: 50px;
    padding-bottom: 5px;
    width: 100%;
    /*color: rgba(75, 75, 75, 1) !important;*/
    color: #fff;
    align-items: center;
    /*background-color: rgb(230,226,220);*/
    background-color: #4F6877;
}

footer h3{
	font-family: bitter;
}

footer .pure-u-1-3 {
    padding-bottom: 30px;
}

#firstfooterline {
    min-height: 200px;
    line-height: 140%;
    margin-left: 10%;
}

footer hr {
    border: none;
    height: 5px;
    background-color: #fff;
}

#copyright {
    padding-left: 5px;
}

#secondfooterline {
    padding: 10px;
}

#secondfooterline h2 {
    font-family: bitter;
}

#brandbox {
    width: 100%;
    align-items: center;
    /* background-image: url("../Images/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;*/
}

#brandimg {
    min-width: 100px;
    float: left;
    margin-right: 35px;
}

.contentwrapp {
    /*background-image: url("../Images/background.png");*/
    background-position: center top;
    min-height: 28vh;
}

#loginbox,
.loginbox {
    background-image: url("../Images/login_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#articleadminbox {
    background-image: url("../Images/woodenfloor.png");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 50px;
}

#articlebox {
    /*background-image: url("../Images/login_background.jpg");*/
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#history {
    background-color: rgb(250, 249, 246);
    padding-bottom: 50px;
}

#historyheader {
    padding-top: 25px;
    padding-bottom: 25px;
}

#historyheader * {
    font-family: "bitter" !important;
}

.historypic {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1% 1%;
    max-width: 1000px;
}

.historyblock {
    margin-top: 50px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.historyblock .textbox {
    padding-left: 15px;
    padding-right: 15px;
}
.historyblock h3{
	padding: 0px;
	margin-top: 0px;
}

#popup-div {
    width: 100%;
    height: 100%;
    opacity: .98;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
    z-index: 5;
}

i#close {
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
    color: #FFF;
}

div#popup-div-content {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
}

#popup-div-content h4 {
    letter-spacing: 2px;
}

#popup-div-form {
    max-width: 300px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #fff
}

#popup-submit {
    margin-top: 10px;
    width: 100%;
}

.shoppingcart {
    padding: 2%;
}

.pure-form input[type="checkbox"] {
    display: inline !important;
}

#mydata-form {
    margin-right: 10%;
    margin-top: 0%;
    float: none;
}

#mydata-form h3 {
    padding-top: 0%;
    text-align: center;
}

.security-form h3 {
    padding-top: 0%;
    text-align: center;
}

#account-searchbox {
    padding-top: 50px;
    height: 300px;
}

.security-form {
    margin-right: 10%;
    margin-top: 0%;
    margin-down: 10%;
    float: none;
}

#user-account-menu {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px;
    padding-left: 19.8%;
}

#user-account-menu .pure-menu-list li {
    min-width: 150px;
    text-align: center;
}

#user-account-menu .pure-menu-list li a {
    padding-top: 16px;
    padding-bottom: 16px;
}

#user-account-menu .pure-menu-heading {
    margin-left: 30px;
    margin-right: 60px;
}

.pure-table {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
    overflow: scroll;
}

.custom-restricted {
    display: inline-box;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    /* background-image: url('error.png'); */
    text-align: center;
}

.success {
    color: #49d800;
    background-color: #80ff80;
    /* background-image: url('error.png'); */
    text-align: center;
}

.info,
.success,
.warning,
.error,
.validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.rightdiv select {
    height: 40px;
}

.divrowone,
.divborderleft {
    padding-left: 15px;
    padding-right: 8 px;
    height: 180px;
}

.divborderleft {
    position: relative;
    display: inline-block;
}

.divborderleft::before {
    border-left: 2px solid rgba(255, 255, 255, 1);
    height: 136.8px;
    content: '';
    position: absolute;
    left: 0;
    top: 12%;
}

.divborderleft a:link {
    tex-decoration-line: none;
}

.divborderleft a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: rgba(75, 75, 75, 1) !important;
    text-decoration-color: rgba(75, 75, 75, 1) !important;
}

.productCard {
    background-color: white;
    width: 360px;
    height: 480px;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    color: rgb(75, 75, 75);
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 3px;
}

.productCard:hover {
    border: 1px solid rgb(75, 75, 75);
}

.productCardimage {
    height: 360px;
    width: 328px;
    background-color: rgb(45, 45, 45);
    margin: 16px 16px 0px 16px;
    text-align: center;
}

.detailsearchimage {
    height: 720px;
    width: 656px;
}

.articlesearchimage {
    max-height: 360px;
    max-width: 328px;
    width: 328px;
    vertical-align: middle;
    margin: 0 !Important;
}

.articledetailimage {
    max-height: 720px;
    max-width: 656px;
    vertical-align: middle;
    margin: 0 !Important;
}

.articleimagehelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
}

#useroptions {
    min-height: 350px;
}

#articleadminboxform {
    margin-bottom: 10px;
}

.custom-file-input {
    color: #fff;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Datei auswählen';
    display: inline-block;
    background: #4F6877 !important;
    color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 10pt;
}

.imageuploaded {
    max-height: 512px;
    max-width: 100%;
}

.sliderimage {
    max-height: 43vh;
    height: 43vh;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slidertext {
    font-weight: 900;
    text-align: left;
    color: #fff;
    padding-top: 15px;
    padding-left: 32px;
}

.startslider {
    background-image: url("../Images/startsliderbackground.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 43vh;
}

.startslider-btn {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15) !important;
    color: #ddd !important;
    border: 0;
    width: 3vw;
}

.startslider-btn:focus {
    border: none !important;
    outline: none !important;
}

.startslider-btn:hover,
.startslider-btn:active {
    border: none !important;
    outline: none !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

#articleresultcontainer {
    background-color: rgb(250, 249, 246);
    padding-right: 20%;
    padding-left: 20%;
    align: center;
    padding-top:10px;
    min-height:70vh;
}

.div-align-bottom {
    /* height: 261.824px; */
    display: flex;
}

.div-align-bottom form {
    align-self: flex-end;
}

.articledescriptioncontainer {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}
.articledescriptioncontainer select{
	min-height:40px;
}

.w3-card-4,
.w3-hover-shadow:hover {
    box-shadow: none !important;
}

.content-container {
    padding-top: 2%;
    padding-bottom: 8%;
    background-color: rgb(250, 249, 246);
}

.versionchoice {
    border: 2px solid black;
}

.overflowhider {
    overflow: scroll;
    padding-right: 5px;
}

.overflowhider p {
    -ms-overflow-style: none; // IE 10+
    overflow: -moz-scrollbars-none; // Firefox
    padding-right: 5px;
}

.overflowhider::-webkit-scrollbar p {
    display: none; // Safari and Chrome
}

.overflowhider {
    -ms-overflow-style: none; // IE 10+
    overflow: -moz-scrollbars-none; // Firefox
}

.overflowhider::-webkit-scrollbar {
    display: none; // Safari and Chrome
}


/*FREMDER QUELLCODE z.T. angepasst für Farben, Spacing etc.*/


/*https://codepen.io/anon/pen/gXgexq*/

.dropdown {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown div {
    padding: 0px;
}

.dropdown ul {
    margin: -2px 0 0 -40px;
}

.dropdown div {
    position: relative;
}

.dropdown a,
.dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 16px;
}

.dropdown div a {
    background-color: #4F6877;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 40px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 300px;
}

.multiSelect ul {
    z-index: 99;
}

.dropdown div a .multiSel {
    margin: 0;
}

.dropdown div a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropdown div ul {
    background-color: #4F6877;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 300px;
    list-style: none;
    min-height: 50px;
    max-height: 180px;
    overflow: auto;
    z-index: 99;
}

.dropdown span.value {
    display: none;
}

.dropdown div ul li a {
    padding: 5px;
    display: block;
}

.dropdown div ul li a:hover {
    background-color: #fff;
}


/*http://doodlenerd.com/html-control/css-checkbox-generator? */

.control {
    font-family: "Segoe UI", Arial, sans-serif;
    display: block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    float: left;
    margin-right: 10px;
}

.control-radio .control_indicator {
    border-radius: undefined%;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #cccccc;
}

.control input:checked~.control_indicator {
    background: rgb(75, 75, 75);
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
    background: #0e6647d;
}

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}