/**
 * Beschreibung: CSS zur Gestaltung der Bestelldetails.
 * @author Jacob Markus 
 *
 */

#orderitem {
    width: 100%;
}

#orderitems-div {
    margin-bottom: 20px;
}

#orderdetails {
    float: left;
}

#orderreceiptadr {
    float: left;
}

#orderpaymentmethod {
    float: left;
}

#ordervaluesum {
    text-align: right;
    font-weight: bold;
    border-top: solid;
}

#orderstatus {
    color: green;
}

#confirm {
    margin-bottom: 20px;
    float: right;
}

#order-control-div {
    margin-bottom: 20px;
    float: right;
}

.order-button {
    width: 45%;
    margin-left: 5%;
    float: left;
}

#ordervaluedescription {
    font-weight: bold;
    border-top: solid;
    float: left;
}

.order-sum-values {
	padding-top: 2px;
}

.orderdetailsvalue {
	float: left;
}

#savestatus {
    color: green;
    cursor: pointer;
}